@keyframes abaldet {
  0% {
    top: 95%;
    left: 80%;
  }

  100% {
    top: 81%;
    left: 90%;
  }
}

.popup__image_type_abaldet {
  animation: abaldet 2s ease-in-out 1 normal forwards running;
}
