@keyframes fall_kirkorov-2 {
  0% {
    top: 30%;
    left: 30px;
  }

  100% {
    top: 100%;
    left: 5px;
  }
}

.popup__image_type_kirkorov-2 {
  animation: fall_kirkorov-2 2s ease-in-out 1 reverse forwards running;
}
