@keyframes nasta-uuu {
  0% {
    top: 95%;
    left: 80%;
  }

  100% {
    top: 12%;
    left: 86%;
  }
}

.popup__image_type_nasta-uuu {
  animation: nasta-uuu 2s ease-in-out 1 normal forwards running;
}
