@keyframes nasta-pod {
  0% {
    top: 95%;
    left: 80%;
  }

  100% {
    top: 42%;
    left: 86%;
  }
}

.popup__image_type_nasta-pod {
  animation: nasta-pod 2s ease-in-out 1 normal forwards running;
}
